extends layout

block content
  section.matchups.row
    #player.span6.row(ng-controller="ChampCtrl")
      header.champion-name
        h3 {{champion.name}}
        h4 
        |  {{champion.title}}
      label Player
      input(type="text",
        placeholder="Enter Player Champion",
        ng-model="search",
        ng-change="change()",
        auto-complete)
      .card
        .champion-img
          img(ng-src="{{champion.imageUrl}}")
        .champion-abilities(ng-repeat="ability in champion.abilities")
          img(class="ability",ng-src="{{ability.icon}}")
          h4.ability {{ability._key}}

    #opponent.span6.row(ng-controller="ChampCtrl")
      header.champion-name
        h3 {{champion.name}}
        h4 
        |  {{champion.title}}
      label Opponent
      input(type="text",
        placeholder="Enter Opponent Champion",
        ng-model="search",
        ng-change="change()",
        auto-complete)
      .card
        .champion-img
          img(ng-src="{{champion.imageUrl}}")
        .champion-abilities(ng-repeat="ability in champion.abilities")
          img(class="ability",ng-src="{{ability.icon}}")
          h4.ability {{ability._key}}

  section.row
    .span12
      h3 Protips
      ul.nav.nav-pills.tabs
        li
          a(href="#") General
        li
          a(href="#") Strong Against
        li
          a(href="#") Weak Against
        li
          a(href="#") Good With

  section.protips-grid
    ul
      protip