extends layout

block content
  div(ng-controller="VersusCtrl")
    div(ng-include="'/partials/versus/_champion.html'")
     
    div(ng-controller="TabsCtrl")
      ul.inline.unstyled
        li
          a
            h2(ng-click="matchupsTab()",
              class="matchups-header",
              ng-class="{filled: selection == 'matchups'}"
            ) Matchups
        li
          a
            h2(ng-click="protipsTab()",
               class="protips-header",
               ng-class="{filled: selection == 'protips'}"
            ) Protips
      div(ng-switch on="selection")
        div(ng-include,
            src="'/partials/versus/_matchups.html'"
            ng-switch-when="matchups")
        div(ng-include,
            src="'/partials/versus/_protips.html'"
            ng-switch-when="protips"
            )